{% extends 'accounts_base.html' %}

{% block content %}
	{% for each in all_products %}
		<div>
			{{ each.name }}
			{{ each.price }}
			<a href="{% url 'view_product' pk=each.id %}">View</a>
			<a href="{% url 'edit_product' pk=each.id  %}">Edit</a>
			<a href="{% url 'delete_product' pk=each.id %}">Delete</a>
		</div>
	{% endfor %}
{% endblock content %}