{% extends 'accounts_base.html' %}

{% block content %}
	<div><br>
		<a href="{% url 'home' %}">All Products</a><br><br>
		<a href="{% url 'edit_product' pk=item.id  %}">Edit</a>
		<a href="{% url 'delete_product' pk=item.id %}">Delete</a>
	</div>
	<div>
		<h1>Product Name ---> {{item.name}}</h1>
		<h3>Price        ---> {{item.price}}</h3>
		<p>Description   ---> {{item.description}}</p>
		<p>Use           ---> {{item.use}}</p>
		<p>{{item.is_indian_product}}</p>
		{% for each in item.categories.all %}
			<p>Categories---> {{each.category_name}}</p>
		{% endfor %}
		{% for each in item.tag_names.all %}
			<p>Tags     ---> {{each.tag_name}}</p>
		{% endfor %}
	</div>
{% endblock content %}