<!DOCTYPE html>
<html>
<head>
	{% block title %}<title></title>{% endblock title %}
</head>
<body>
	{% block nav_bar %}

		<a href="{% url 'home' %}">Home</a>
		
		{% if request.user.is_authenticated %}
			<h3>Hello, {{request.user.username}}</h3><a href="{% url 'logout' %}">Logout</a>
			<br><br>
			<a href="{% url 'add_product' %}">Add Product</a><br><br>
		{% else %}
			<a href="{% url 'login' %}">Login</a>
			<a href="{% url 'signup' %}">SignUp</a>
		{% endif %}

	{% endblock nav_bar %}

	{% block content %}
	{% endblock content %}
</body>
</html>